a.Pseudo:hover {
  color: red;
}

a.Pseudo:active {
  color: green;
}

a.Pseudo:visited {
  color: yellow;
}


.group .code {
  width: 50%;
  float: left;
  border-right: 2px solid green;
   -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.group .code:hover {
  color: white;
  background-color: green;
}

.group .code h1 {
  color: yellow!important;
  /*color: yellow;*/
}


.group .code .special {
  color: red;
}

.group .code:hover .special {
  color: yellow;
}

.group .display {
  width: 50%;
  float: left;
   -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.group .display:hover {
  color: white;
  background-color: green;
}

.simple {
  width: 500px;
  height: 20px;
  margin: 20px auto;
  border: 2px solid green;
}

.simple1 {
  width: 500px;
  height: 20px;
  margin: 20px auto;
  border: 2px solid green;
  box-sizing: border-box;
}

.fancy {
  width: 500px;
  height: 20px;
  margin: 20px auto;
  padding: 50px;
  border:10px solid green;
}

.fancy1 {
  width: 500px;
  height: 20px;
  margin: 20px auto;
  padding: 50px;
  border:10px solid green;
  box-sizing: border-box;
}

.left {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  background-color: yellow;
  float: left;
}

.right {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  background-color: green;
  float: right;
}

.big {
  overflow: hidden;
  width: 400px;
  height: 400px;
  background-color: yellow;
  position: relative;
  left: 100px;
}

.small {
  width: 200px;
  height: 200px;
  background-color: green;
  position: absolute;
  left: 20px;
  top: 20px;
}
